    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>The oceans are the heart of our planet and environment, but they are facing multiple crises. Rising temperatures, overfishing, and pollution are changing the oceans faster than we can understand.</p>
                <p>Nautilia Computing makes artificial intelligence to help understand our oceans and their life as they change. We use our expertise in deep learning, evolutionary computation, data systems and visualization to provide state of the art tools for ocean data analysis and exploration.</p>
                <p>We're dreamers and see a future with a cleaner ocean than today, satellites that help us monitor fish populations, autonomous submarines that explore unknown depths, and more. To see how we plan on being a part of that future, <a class="page-scroll" href="#contact">get in touch</a>.
            </div>
        </div>
    </section>
