    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Our oceans are the heart of our planet and environment, but they are facing multiple crises. Rising temperatures and acidification levels, combined with overfishing and pollution, are changing the oceans faster than we can understand. Those who rely on the oceans directly, such as fishing, shipping, and offshore energy, already feel the impact of these changes, but the more we understand the ocean, the clearer it is that we are all impacted by its change.</p>
                <p>Nautilia Computing makes artificial intelligence to help understand our oceans and their life as they change. We use our expertise in deep learning, evolutionary computation, machine learning, data systems and visualization to provide state of the art tools for ocean data analysis and exploration.</p>
                <p>Our client projects include autonomous vehicle navigation, bathymetry estimation, atmosphere model inversion, and more. We're currently looking for clients with difficult problems that have large impact.</p>
                <p>We're dreamers and see a future with a cleaner ocean than today, satellites that help us monitor fish populations, autonomous submarines that explore unknown depths, and more. To see how we plan on being a part of that future, check out our <a class="page-scroll" href="#whitepaper">whitepaper</a>.
            </div>
        </div>
    </section>
