    <!-- Download Section -->
    <section id="team" class="content-section text-center">
        <div class="download-section">
            <div class="container text-center">
                <h2>Team</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="img/blandine.jpg" class="profile">
                        <p><a href="https://www.linkedin.com/in/blandinedescamps/">
                            Blandine Descamps Medda</a><br />
                        Présidente, CEO</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="img/dennis.jpg" class="profile">
                        <br/>
                        <p><a href="https://www.linkedin.com/in/dennis-g-wilson/">Dennis Wilson</a><br />
                        CTO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
